<tr class="doing dt-row" onclick="selectRow(this)" ondblclick="//dbclkRow(this)">
	<td>
		<%= link_to '', @doing, { :style => "display:none"} %>
		<%= check_box_tag(@doing,"", !@doing.status.to_i.zero?, {"onclick" => "document.location.href='/doing/toggle_check/#{@doing.id}'", :remote => "true" }) %>
		<%= editable_field( @doing, "description") %>
	</td>
	<td><%= delete_tag @doing %></td>
</tr>