/* Content warp class */
.content-warp {
	width:980px;
	height: 460px;
	margin:0 auto;
	background:#dde3eb;
	
}

/* Content main block*/
.content-main {
	position: relative;
	background: url("/images/gradient_texture20100901.jpg") repeat-x scroll 0 0 #F5F6F7;
	float:right;
	width: 804px;
	height: 460px;
	margin: 0px;
	border-left: 1px solid #999;
}

/* Content menu block in main area */
.content-main-menu {
	position: absolute;
	bottom: 0px;
	line-height:66px;
	height: 65px;
	width: 100%;
	border-top: 1px solid #999;
	background:#e4e4e4;
}

.content-main-menu a {
	margin: 0px 10px 0px 15px;
}

.content-main-menu a img{
	vertical-align: middle;
	display: inline-block;
}


/*С эти надо что то сделать*/
.content-main header {
	border-radius: 0px 4px 0px 0px;
	margin-bottom: 10px;
	width: 803px;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	background: url("/images/content/header_bg.png") repeat-x scroll 0 0 #F5F6F7;
}


.content-main header table {
	border-spacing: 0px;
	width: 100%;
}

.content-main header table tbody tr:first-child {
	height: 30px;
	line-height: 30px;
	background: transparent;
}

.content-main header table tbody tr:first-child td{
		background: transparent;
		font:  bold 18px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif ; 
		color: #555555;
}

.content-main header table tbody tr {
	width: 100%;
	background: url("/images/content/header_labels_bg.png") repeat-x scroll 0 0 #F5F6F7;
	height: 24px;	
}

.content-main header table tbody tr td {
	font: 11px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.content-main header table tbody tr td span {
	padding-right: 15px;
}

.edit_textfield {
	display: inline;
}

.edit_textfield form{
	display: inline;
}

.edit_textfield form input {
	background: none repeat scroll 0 0 transparent;
	outline: medium none;
	border-width: 0;
}

.content-main header table tbody tr td span.label {
	color: #b5b5b5;
}

.content-main header table tbody tr td:first-child {
	padding-left: 15px;
}

/* Content left sidebar */
.content-sidebar {
	float:left;
	width:175px;
	background:#dde3eb;
}


/* Content footer */
.content-footer {
	height: 20px;
	clear:both;
	background:#cc9;
}
* html #footer {
	height:1px;
}

