div, input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

.central {
		margin: 0px auto;
}

#login-warp {
	width: 280px;
	vertical-align:	middle;
}

#login form > div {
   position: relative;
}
* {
    -moz-user-select: -moz-none;
    border: 0 none;
    cursor: default;
    margin: 0;
    padding: 0;
}

#new_user_session {
	top: 448px;
  z-index: 50;

}

.sprite {
    background-image: url("/images/login/sprite.png");
}

#login {
	background: transparent;
	vertical-align:	middle;
}

.field-container {
		position: absolute;
    background-position: 0 -110px;
    height: 59px;
    width: 266px;
    z-index: 10;
		border-radius: 4px 4px 4px 4px;
}

.mozilla.v3 .field-container .label-text {
    top: 17px;
}

.field-container .label-text {
		position: absolute;
    color: #A2AFC2;
    font-size: 22px;
    height: 28px;
    left: 23px;
    text-shadow: none;
    top: 17px;
    width: 213px;
    z-index: 5;
}

.field {
		position: absolute;
    -moz-user-select: text;
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    color: #383838;
    cursor: text;
    font-size: 22px;
    height: 34px;
    left: 10px;
    line-height: 24px;
    outline: medium none;
    padding-left: 12px;
    padding-right: 0;
    padding-top: 2px;
    top: 11px;
    width: 234px;
    z-index: 300;	
}

.mozilla.v3-6 .field {
    height: 32px;
    margin-top: 1px;
}

#submitContainer {
		position: absolute;
    height: 62px;
    right: 0;
    top: 32px;
    width: 130px;
    z-index: 10;
}

.button-input {
		position: absolute;
    left: -10000px;
    top: -10000px;
}


.button-label {
		position: absolute;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
}

.button-label {
    color: #4F3400;
    cursor: default;
    height: 38px;
    left: 12px;
    right: 11px;
    text-align: center;
    text-shadow: 0 2px 1px rgba(255, 255, 255, 0.4);
    top: 15px;
    z-index: 10;
}


.button-bg, .button-bg-cover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.button-bg {
    z-index: 2;
}

div {
    color: white;
}

.button-bg .left {
    background-position: left -300px;
}

.button-bg .right {
    background-position: right -300px;
}

.left-halffull {
		position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 50%;
}

.right-halffull {
		position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 50%;
}

input[type="submit"]
{
  color: #4F3400;
  cursor: default;
  height: 38px;
  left: 12px;
  right: 11px;
  text-align: center;
  text-shadow: 0 2px 1px rgba(255, 255, 255, 0.4);
	border: 2px solid #7cabb6;
  top: 15px;
  z-index: 10;	
	

  font-size: 20px;
  font-weight: bold;

	border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	margin-left: 10px;
	margin-top: 10px;
	width: 246px;
	height: 38px;
  background:url("/images/login/button.png");
}

input[type="submit"]:active {
	background:url("/images/login/button-down.png");
}